[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libvirt-python = "==7.3.0"
virt_stats = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
