[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "<2.10"
machine_stats = {editable = true, path = "."}
pluginbase = "*"

[dev-packages]
black = "==23.1.0"
flake8 = "*"
isort = "*"
pylint = "*"
setuptools = "*"
twine = "*"
wheel = "*"
build = "*"
bump2version = "*"

[scripts]
stats = "machine_stats"
