[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.12"
machine_stats = {editable = true, path = "."}
pluginbase = "*"

[dev-packages]
black = ">=25.0.0,<26.0.0"
flake8 = "*"
isort = "*"
pylint = "*"
setuptools = "*"
twine = "*"
wheel = "*"
build = "*"
bump2version = "*"
pytest = "*"
pytest-mock = "*"

[scripts]
stats = "machine_stats"
