-i https://pypi.org/simple
ansible==10.7.0
ansible-core==2.17.14
ansible-runner==2.4.2
cffi==2.0.0
cryptography==46.0.3
jinja2==3.1.6
lockfile==0.12.2
-e .
markupsafe==3.0.3
packaging==25.0
pexpect==4.9.0
pluginbase==1.0.1
ptyprocess==0.7.0
pycparser==2.23
python-daemon==3.1.2
pyyaml==6.0.3
resolvelib==1.0.1
typing-extensions==4.15.0
