name: PyPI Upload

on:
  release:
    types: [created]

jobs:
  machine_stats:
    name: Machine Stats PyPI Upload
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: unix

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the project
        run: uv build

      - name: Publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: uv publish
